<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.Accountservlet.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryListController</servlet-name>
        <servlet-class>controller.CategoryServlet.CategoryListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCategoryController</servlet-name>
        <servlet-class>controller.CategoryServlet.RemoveCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCategoryController</servlet-name>
        <servlet-class>controller.CategoryServlet.InsertCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>controller.CategoryServlet.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListController</servlet-name>
        <servlet-class>controller.CustomerServlet.CustomerListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCustomerController</servlet-name>
        <servlet-class>controller.CustomerServlet.InsertCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCustomerController</servlet-name>
        <servlet-class>controller.CustomerServlet.RemoveCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerController</servlet-name>
        <servlet-class>controller.CustomerServlet.UpdateCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListController</servlet-name>
        <servlet-class>controller.OrderServlet.OrderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>controller.OrderServlet.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveOrderDetailController</servlet-name>
        <servlet-class>controller.OrderDetailServlet.RemoveOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderDetailController</servlet-name>
        <servlet-class>controller.OrderDetailServlet.UpdateOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fromOrderController</servlet-name>
        <servlet-class>controller.OrderDetailServlet.fromOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductOverviewController</servlet-name>
        <servlet-class>controller.ProductServlet.ProductOverviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.ProductServlet.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCartController</servlet-name>
        <servlet-class>controller.CartServlet.showCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add2cart</servlet-name>
        <servlet-class>controller.CartServlet.add2cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>controller.CartServlet.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add3cart</servlet-name>
        <servlet-class>controller.CartServlet.add3cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManager</servlet-name>
        <servlet-class>controller.Administrator.ProductManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderByCid</servlet-name>
        <servlet-class>controller.OrderServlet.OrderByCid</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryListController</servlet-name>
        <url-pattern>/CategoryListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCategoryController</servlet-name>
        <url-pattern>/RemoveCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCategoryController</servlet-name>
        <url-pattern>/InsertCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/UpdateCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListController</servlet-name>
        <url-pattern>/CustomerListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCustomerController</servlet-name>
        <url-pattern>/InsertCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCustomerController</servlet-name>
        <url-pattern>/RemoveCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerController</servlet-name>
        <url-pattern>/UpdateCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListController</servlet-name>
        <url-pattern>/OrderListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/UpdateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveOrderDetailController</servlet-name>
        <url-pattern>/RemoveOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderDetailController</servlet-name>
        <url-pattern>/UpdateOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fromOrderController</servlet-name>
        <url-pattern>/fromOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductOverviewController</servlet-name>
        <url-pattern>/ProductOverviewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/ProductDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCartController</servlet-name>
        <url-pattern>/showCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add2cart</servlet-name>
        <url-pattern>/add2cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add3cart</servlet-name>
        <url-pattern>/add3cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManager</servlet-name>
        <url-pattern>/ProductManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderByCid</servlet-name>
        <url-pattern>/OrderByCid</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
